@charset "utf-8";
header {
	padding: 0;
	margin: 0;
	background-color: #3E96C7;
	background-image: -webkit-linear-gradient(270deg,rgba(136,190,220,1.00) 0%,rgba(3,65,126,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(136,190,220,1.00) 0%,rgba(3,65,126,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(136,190,220,1.00) 0%,rgba(3,65,126,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(136,190,220,1.00) 0%,rgba(3,65,126,1.00) 100%);
	width: 100%;
	height: 200px;
	text-align: center;
}
body {
	margin: 0;
}
section aside {
	background-color: #E0EAF2;
	width: 22%;
	height: 439px;
	border-top-right-radius: 33px;
	border-bottom-right-radius: 33px;
}
section {
	height: 400px;
	margin-top: 30px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 30px;
	width: 746px;
	border-radius: 65px;
	background-color: #D2E7EB;
}
