{% extends "index.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class="sidebar1" id="own">I Own</div>
  <aside class="images1">
   <script type="text/javascript">
   $(document).ready(function () {
    $(".set1").click(function(){
      $(".set2").show();
    })
   });
   </script>
  <div class="sidebar1">BACHAT / SAVINGS:</div>
   2<a href="2" onclick="popup1()"><img src="../static/icons/4.png" /></a>
    <a href="2" onclick="popup2()"><img src="../static/icons/5.png" /></a>
    <a href="2" onclick="popup3()"><img src="../static/icons/6.png" /></a>
  </div>
  </aside>
  <script type="text/javascript">
 function popup1(){
  alert("You have spent 25 Rs.");
 }
  function popup2(){
  alert("You have spent 15 Rs.");
 }
  function popup3(){
  alert("You have spent 35 Rs.");
 }
  </script>
  <header id="essay">&nbsp;</header>

  {% endif %}

{% endblock %}