{% extends "index.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class="sidebar1" id="own">I Own</div>
  <aside class="images1">
   <script type="text/javascript">
   $(document).ready(function () {
    $(".set1").click(function(){
      $(".set2").show();
    })
   });
   </script>
  <div class="sidebar1">BACHAT / SAVINGS:</div>

  <div class="set3" style="display:none;">
  <a href="" onclick="popup1()"><img src="../static/icons/7.png" /></a>
    <a href="#" onclick="popup1()"><img src="../static/icons/8.png" /></a>
    <a href="#" onclick="popup1()"><img src="../static/icons/9.png" /></a>
  </div>
  </aside>
  <script type="text/javascript">
 function popup1(){
  alert("You have spent 25 Rs.");
 }
  function popup2(){
  alert("You have spent 15 Rs.");
 }
  function popup3(){
  alert("You have spent 35 Rs.");
 }
  </script>
  <header id="essay">&nbsp;</header>

  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}