{% extends "index.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class="sidebar1" id="own">I Own</div>
  <aside class="images1">
   <script type="text/javascript">
   $(document).ready(function () {
    $(".set1").click(function(){
      $(".set2").show();
    })
   });
   </script>
  <div class="sidebar1">BACHAT / SAVINGS:</div>
  <!-- <div class="set1"> -->
    <a href="#" onclick="popup1()"><img src="../static/icons/1.png" id="img1"/></a>
    <a href="#" onclick="popup2()"><img src="../static/icons/2.png" id="img2" /></a>
    <a href="#" onclick="popup3()"><img src="../static/icons/3.png" id="img3" /></a>
  <!-- </div> -->
  </aside>
  <script type="text/javascript">
 function popup1(){
  alert("You have spent 25 Rs.");
 }
  function popup2(){
  alert("You have spent 15 Rs.");
 }
  function popup3(){
  alert("You have spent 35 Rs.");
 }
  </script>
  <header id="essay">&nbsp;</header>

  {% endif %}

{% endblock %}